<!DOCTYPE html>
<html ng-app="chat">
    <%- include header.ejs %>
   <body class="metro" ng-controller="ChatAppCtrl" ng-cloak>
      <%- include navbar.ejs %>
      <!-- Begin page content -->
      <div ng-show="!joined">
          <%- include login.ejs %>
      </div>
    </div>
      <div ng-hide="!joined" class="grid" style="margin:auto;" ng-cloak>

      <div class="row">
      <div class="span3">
        <nav class="sidebar light">
          <ul>
            <li class="title">Your Rooms</li>
          </ul>
          <ul id="classtabs">
            <li ng-class="{'active' : viewPage == 'addroom'}"
              ng-click='viewPage = "addroom"'><a>Add/Create a Room</a></li>
          </ul>
      </nav>
      </div>
      <div class="tab-control span12" data-role="tab-control">

        <div class="frames" style="padding-left: 20px;">

          <div id="addroom" ng-show="viewPage == 'addroom'">
            <div ng-show="grid">
              <%- include gridRoomLayout %>
            </div>
            <div ng-show="!grid">
              <%- include listRoomLayout %>
            </div>
          </div>

          <div ng-repeat="room in currentRooms">
            <%- include room %>
          </div>
        </div>
      </div>
      </div>
  </div>
        <script src="components/jquery/dist/jquery.js"></script>
      <script src="js/metro/min/widget.js"></script>
      <script src="js/metro/min/metro.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="components/angular/angular.js"></script>
      <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="/js/metro/metro-dropdown.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/directives.js"></script>
      <script src="js/services.js"></script>
</body>
</html>
